/*

  SysBar/2 Utility Set  version 0.23

  Clock resources

  ..................................................................

  Copyright (c) 1995-1999  Dmitry I. Platonoff
                           All rights reserved

                         dplatonoff@canada.com

  ..................................................................

  LICENSE
  ~~~~~~~
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions
  are met:

  1. Redistributions of source code must retain the above copyright
     notice, this list of conditions and the following disclaimer.

  2. Redistributions in binary form must reproduce the above
     copyright notice, this list of conditions and the following
     disclaimer in the documentation and/or other materials provided
     with the distribution.

  3. Redistributions of any form whatsoever, as well as all
     advertising materials mentioning features or use of this
     software (if any), must include the following acknowledgment:
     "This product includes software developed by Dmitry I. Platonoff".

  4. The names "SysBar/2" and "Dmitry I. Platonoff" must not be
     used to endorse or promote products derived from this software
     without prior written permission. For such permission, please
     contact dplatonoff@canada.com.

  5. Products derived from this software may not be called
     "SysBar/2" nor may "Dmitry I. Platonoff" appear in their
     contributor lists without prior written permission.

  ..................................................................

  DISCLAIMER
  ~~~~~~~~~~
  THIS SOFTWARE IS PROVIDED BY THE AUTHOR OR CONTRIBUTORS "AS IS"
  AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
  AUTHOR OR THE CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
  STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
  ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

#include <os2.h>
#include "SB2_Clock_res.h"

ICON ICO_MAIN "sb2_clock.ico"

BITMAP BMP_MONTHS    "Months.Bmp"
BITMAP BMP_MONTHS2   "Months2.Bmp"
BITMAP BMP_MONTHSBW  "Months_BW.Bmp"
BITMAP BMP_MONTHS2BW "Months2_BW.Bmp"

MENU MNU_CLOCK LOADONCALL DISCARDABLE
BEGIN
/*
  PRESPARAMS PP_MENUBACKGROUNDCOLOR, 0x808080
  PRESPARAMS PP_MENUFOREGROUNDCOLOR, 0xFFFFFF
  PRESPARAMS PP_MENUDISABLEDBGNDCOLOR, 0x808080
  PRESPARAMS PP_MENUDISABLEDFGNDCOLOR, 0xCCCCCC
  PRESPARAMS PP_MENUHILITEBGNDCOLOR, 0x000000
  PRESPARAMS PP_MENUHILITEFGNDCOLOR, 0x00FF00
  PRESPARAMS 51, 0xCCCCCC // PP_BORDERLIGHTCOLOR
  PRESPARAMS 52, 0x000000 // PP_BORDERDARKCOLOR
  PRESPARAMS 53, 0xCCCCCC // PP_BORDER2LIGHTCOLOR
  PRESPARAMS 54, 0x000000 // PP_BORDER2DARKCOLOR
  PRESPARAMS 61, 0xCCCCCC // PP_ARROWCOLOR
  PRESPARAMS 62, 0xFFFFFF // PP_ARROWBORDERLIGHTCOLOR
  PRESPARAMS 63, 0x000000 // PP_ARROWBORDERDARKCOLOR
  PRESPARAMS 64, 0xA0A0A0 // PP_ARROWDISABLEDCOLOR
  PRESPARAMS 65, 0xCCCCCC // PP_CHECKLIGHTCOLOR
  PRESPARAMS 66, 0x808080 // PP_CHECKMIDDLECOLOR
  PRESPARAMS 67, 0x000000 // PP_CHECKDARKCOLOR
*/
  MENUITEM "Propertie~s", MNU_CLOCK_PROPERTIES, MIS_TEXT
  MENUITEM SEPARATOR
  MENUITEM "~Close", MNU_CLOCK_CLOSE, MIS_TEXT
END

RCINCLUDE SB2_CLOCK.DLG



